.container{
    width: 100%;
    height: 100vh;
    background: #e0e0e0;
   
    
}


.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #c9b41a; 
}

.search-button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #411114;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Home{
    display: flex;
   justify-content: flex-end;
   margin-left: 140px;
    color: #411114;
    
}
.navbar{
    width: 100%;
    height: 19vh;
    background: #edd4ad;
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
   
    align-items: center;
}
 
.image img{
    height: 80px;
    width:100%;
  margin-top: 7px;
  margin-left: 7px;
  
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.bookappointment{
    display: flex;
    justify-content: space-between;
    width: 800px;
    
    

}
.actressphoto{
    height: 300px;
    width: 1000px;


  }



 /* choose our services */
 
.services-container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    color: #2b2606;
    
}

p {
    font-size: 1rem;
    color: #888;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
   margin-left: 334px;
    width: 700px;
}

.service-card {
    background-color:#edd4ad;
    ;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
    margin: 10px 0;
    color: #150d02;
}

.service-card button {
    background-color: #2b2606;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.service-card button:hover {
    background-color: #d075bc;
}

.service-card .icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

.appointment {
    background-color: #9749058d;
    color: #fff;
}

.appointment button {
    background-color: #fff;
    color: #3b3013b4;
}

.appointment button:hover {
    background-color: #d075bc;
    color: #fff;
}






/* footer */


footer {
    background-color: #a78026cd;
    padding: 20px 40px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 10px;
    width: 200px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
   
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #473c07;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section p {
    margin: 5px 0;
    
}

.social-icons img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.social-icons img:hover {
    opacity: 0.8;
}


